/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */


#grad1 {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, red , yellow);
}
.header {
  background-image: linear-gradient(to bottom,  rgb(4, 4, 195), navy);
  padding: 20px;
  text-align: center;
}
ul {
   list-style-type: none;
   margin:0;
   padding:0;
   overflow:hidden;
   background-color: navy;
   position: fixed;
   top:0;
   width:100%;
}
li {
   float: left;
   border-right: 1px solid #bbb;
}
li:last-child {
   border-right: none;
 }
li a {
   display: block;
   color:white;
   text-align:center;
   padding: 14px 16px;
   text-decoration: none;
}
li a:hover {
   background-color: #111;
 }
 .text {
   background-color: black;
   color: aliceblue;
 }
 .CurrentPage {
   background-color: rgb(8, 8, 189)
 }
.column {
   float: left;
   padding: 4px;
 }
 
 .column.side {
   width: 50%;
 }
 
 .column.middle {
   width: 80%;
 }
 .row::after {
   content: "";
   display: table;
   clear: both;
 }
 
 @media screen and (max-width: 600px) {
   .column.side, .column.middle {
     width: 100%;
   }
 }
 body {
   /*background-image: linear-gradient(to bottom, blue, black)*/
   background:navy;
 
}
 .Banner {
   position:absolute;
   top:80%;
   width:100%;
   height:20%;
   background-image: linear-gradient(to bottom, navy, rgb(1, 1, 96), black);
 }

 /*Dropdown box voor content, gebruik in bijv. foto's etc */
 /*.dropbox {
   background-color: rgb(37, 37, 116);
   color:azure;
   padding:12px;
   font-size: 12px;
   border:none;
   cursor:pointer;
 }*/
 /*locatie box*/
 .dropboxLoc {
   position: relative;
   display: inline-block;
 }

 /*content van box*/
 .dropbox-Content {
   display: none;
   position: absolute;
   background-color: navy;
   min-width: 160px;
   z-index: 1;
 }
/* .dropbox-Content a {
   color:azure;
   padding: 8px 12px;
   text-decoration: none;
   display:block;
 }*/
/* .dropbox-Content a:hover{
   background-color: blue;
 }*/
 .dropboxLoc:hover .dropbox-Content {
   display: block;
 }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    padding: 5px;
    background-color: black;
    color: black;  }
    
  
  footer h5 {
    background-color: black;
    color: blue
  }
